@import "tailwindcss";

/* Custom Project Card */

.project-card{
    width:280px;
    flex-shrink:0;
    background:rgba(255,255,255,.05);
    backdrop-filter:blur(20px);
    border:1px solid rgba(255,255,255,.1);
    border-radius:28px;
    overflow:hidden;
    transform:scale(.88);
    opacity:.6;
    transition:.4s ease;
}

.active-card{
    transform:scale(1.05);
    opacity:1;
    border-color:#22d3ee;
    box-shadow:0 20px 60px rgba(34,211,238,.15);
}

@media (max-width:1024px){
    .project-card{
        width:250px;
    }
}

@media (max-width:768px){
    #projectCarousel{
        overflow-x:auto;
        scroll-snap-type:x mandatory;
        justify-content:flex-start;
    }

    .project-card{
        width:260px;
        scroll-snap-align:center;
    }
}